{% extends 'ToDo_App\main.html' %}
{% block content %}
  
<div class="header-bar">
  <div>
    <h1 class="title" >Login</h1>
    <h3 class="subtitle">Login into your account.</h3>
  </div>
</div>

<hr>
<div class="card-body">
  <form method="post">
    {% csrf_token %}

    {{form.username}}
    {{form.password}}
    <div class="button-div">
      <input class="prm-button" type="submit" value="login">
    </div>

</form>
</div>
<h3 class="subtitle">No account? <a href="{% url 'register' %}">Register.</a></h3>


</div>

{% endblock content %}