{% extends 'ToDo_App\main.html' %}
{% block content %}

<title>Register</title>

<div class="header-bar">
    <div>
      <h1 class="title" >Register</h1>
      <h3 class="subtitle">Register your account.</h3>
    </div>
</div>
<hr>

<div class="card-body">
    <form method="POST">
        {% csrf_token %}
        {{form.username}}
        {{form.password1}}
        {{form.password2}}
        <div class="button-div">
            <button class="prm-button" type="submit" >Register</button>
        </div>
    </form>
</div>
<h3>Already have an account? <a href="{% url 'login' %}">Login</a></h3>


{% endblock content %}