<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Title</h1>
    <table>
        <tr>
            <th>Task</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{ task.title }}</td>
            <td><a href="{% url 'task_detail' task.id %}">View</a></td>
        </tr>
        {% empty %}
            <h3>No items in list</h3>
        {% endfor %}
</body>
</html>