{% extends 'ToDo_App/main.html' %}
{% block content %}

<title>Add Task</title>

<div class="header-bar">
    <div>
        <h1 class="title">Add Task</h1>
        <h3 class="subtitle">Complete the information below to add a task.</h3>
    </div>
</div>
<hr>
<div class="card-body">
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.title}}
        {{ form.description}}
        <div class="button-div">
            <button class="prm-button" type="submit" value="Submit">Submit</button>
            <a class="prm-button" href="{% url 'home' %}">Cancel</a>
        </div>
    </form>
</div>

{% endblock content %}