{% extends 'ToDo_App/main.html' %}
{% block content %}

<title>Update Task</title>
<div class="header-bar">
    <div>
        <h1 class="title">Update Task</h1>
        <h3 class="subtitle">Change the information below.</h3>
    </div>
</div>
<hr>
<div class="card-body">
    <form method="POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="button-div">
            <button class="prm-button" type="submit" value="Submit">Submit</button>
            <a class="prm-button" href="{% url 'home' %}">Cancel</a>
        </div>
    </form>
</div>  

{% endblock content %}