{% load static %}
<script src="\static\js\popup.js"></script>
<div class="delete-popup-container">
    <div class="delete-popup-background"></div>
    <div class="delete-popup-content">
      <p class="delete-popup-message">
        This will be lost;<br>
        <span class="forever-pink">forever.</span><br>
        Are you sure?<br>
        Be careful.<br>
        This cannot be undone.
      </p>
      <form action="{% url 'task_delete' task.id %}" method="post">
        {% csrf_token %}
        <div class="delete-popup-buttons">
          <button  class="prm-button" type="submit" >Yes</button>
          <a  class="prm-button" href="{% url 'home' %}">No</a>
        </div>
      </form>
    </div>
  </div>