input::placeholder {
    font-family: 'Courier Prime', monospace;
}

input {
    font-family: 'Courier Prime', monospace;
    font-weight: 900;
    display: flex;
    background-color: #ffffff;
    width: 36%;
    padding: 2% 60% 2% 2%;
    margin-bottom: 5%;
    margin-top: 5%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 4px;
    border: 3px solid black;
    box-shadow: 6px 6px 0px black, 6px 6px 0px black;
}

/* input[type="checkbox"] {
    box-shadow: none;
  } */

body {
    background-color: #332b2b2d;
    padding-top: 20px;
}

hr {
    border: 1px solid #000000;
}

h3,
.subtitle {
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    margin: 0;
}

a,
p {
    color: black;
}

.container {
    border: 1px solid black;
    z-index: 0;
    max-width: 550px;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    background: linear-gradient(rgba(255, 128, 161, 1), rgba(255, 79, 125, 0));
    position: relative;
    -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
    box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
}


.container::after {
    content: "";
    background-image: url("../images/sisters_statue.png");
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    -webkit-box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
    box-shadow: 2px 2px 13px -4px rgba(0, 0, 0, 0.21);
    z-index: -1;
    opacity: 1;
}

.title {
    font-family: 'Fascinate', cursive;
    font-size: 60px;
    color: black;
    opacity: 0.6;
    margin: 0;
}


.header-bar {
    display: flex;
    justify-content: space-between;

}

.header-bar a {
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    color: black;
    text-decoration: none;
    opacity: 0.6;
}

.search-bar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: relative;
    margin-bottom: 5%;
}

.search-bar input[type="text"] {
    background-image: url("../images/Searchbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px 15px;
    width: 70%;
    border-radius: 5px;
}

.search-bar input[type="submit"] {
    width: 20%;
    border-radius: 5px;
}

.task-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: rgb(226, 226, 226, 0.4);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    margin-bottom: 10px;
}

.task-title {
    font-family: 'Roboto Mono', monospace;
    display: flex;
}

.task-title a {
    text-decoration: none;
    color: #000000;
    margin-left: 10px;
}

.task-complete-icon{
    height: 20px;
    width: 20px;
    background-color: #FF4F7D;
    border: 2px solid black;
    border-radius: 50%;
}

.task-incomplete-icon{
    height: 20px;
    width: 20px;
    background-color: rgb(197, 168, 168);
    border: 2px solid black;
    border-radius: 50%;
}


.delete-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.delete_icon {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}



.username-image-field {
    background-image: url("../images/username_statue.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: right center;
  }

  .password-image-field {
    background-image: url("../images/password_statue.png");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: right center;
  }

.button-div {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.prm-button {
    display: flex;
    justify-content: center;
    /* Center-align text */
    background-color: #FF4F7D;
    font-family: 'Courier Prime', monospace;
    color: black;
    padding: 10px 20px;
    margin-bottom: 10%;
    border: 3px solid black;
    border-radius: 6px;
    width: 30%;
    font-size: 16px;
    text-decoration: none;
    /* Remove the default underline from links */
    box-shadow: 6px 6px 0px black, 6px 6px 0px black;
}

.prm-button:hover {
    background-color: #FF809F;
}

.scnd-button {
    display: flex;
    justify-content: center;
    /* Center-align text */
    background-color: #FF4F7D;
    font-family: 'Courier Prime', monospace;
    color: black;
    padding: 10px 20px;
    border: 3px solid black;
    border-radius: 6px;
    width: 90%;
    font-size: 16px;
    text-decoration: none;
    /* Remove the default underline from links */
    position: relative;
    box-shadow: 6px 6px 0px black, 6px 6px 0px black;
}

.scnd-button:hover {
    background-color: #FF809F;
}

.description-field:focus,
.prm-button:focus,
.scnd-button:focus,
input:focus {
    outline: none;
}

.description-field{
    font-family: 'Courier Prime', monospace;
    display: flex;
    background-color: #ffffff;
    width: 36%;
    padding: 2% 60% 2% 2%;
    margin-bottom: 5%;
    margin-top: 5%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 4px;
    border: 3px solid black;
    box-shadow: 6px 6px 0px black, 6px 6px 0px black;
}

.completed-field{
    font-family: 'Courier Prime', monospace;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    width: auto;
    flex-direction: row;
    justify-content: flex-start;
    box-shadow: none;
}

label{
    font-family: 'Courier Prime', monospace;
}